.mayor-carousel-container {
  display: flex;
  flex-direction: column;
}

.landing-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing-inspiration-text {
  color: #d2632c;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.landing-carousel {
  display: flex;
  align-items: center;
  width: 45rem;
  height: 30rem;
}

.landing-carousel-img {
  width: 100%;
  height: 400px;
}

.landing-carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-carousel-component {
  width: 2000px;
}

.landing-side-img-container {
  width: 100%;
  height: 350px;
}

.landing-side-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.landing-carousel-image-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.landing-name-container {
  width: 200px;
  height: 50px;
}

.landing-image-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {


  .landing-inspiration-text {
    text-align: center;
    font-size: 1rem;
  }

  .landing-carousel-component {
    width: 500px;
  }

  .landing-carousel {
    justify-content: center;
    width: 20rem;
    height: 15rem;
  }

  .landing-carousel-img {
    height: 200px;
  }

  .landing-side-img-container {
    height: 190px;
    width: 100px;
    justify-content: center;
    margin: 0 auto;
  }

  .landing-carousel-image-name-container {
    gap: 1.5rem;
  }

  .landing-name-container {
    width: 150px;
  }
}
