.landing-bottom-content {
  height: 700px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.bottom-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: 0 auto;
}

.landing-bottom-text {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #d9d9d9;
}

.landing-bottom-span {
  color: #d2632c;
}

.landing-bottom-blue-detail-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.landing-bottom-detail-img {
  width: 200px;
}

@media only screen and (max-width: 480px) {
  .bottom-text-container {
    width: 20rem;
  }
  .landing-bottom-detail-img {
    width: 50px;
  }

  .landing-bottom-content {
    height: 500px;
    gap: 0;
  }
}