.carousel-visualizer-container {
  position: relative;
  margin: 0;
}

.carousel-wrapper {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999;
}

.close-icon:hover {
  cursor: pointer;
}

.visualizer-close-icon-img {
  width: 4rem;
}

.image {
  object-fit: cover;
  max-height: 30rem;
}

.stepper-container {
  display: flex;
  justify-content: center;
}

.project-name {
  padding: 2rem 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}

.divider-container {
  width: 100%;
}

.description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2rem;
}

.description-1 {
  display: flex;
  color: #d9d9d9;
  font-weight: 200;
  padding-bottom: 1rem;
  padding-right: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.description-2 {
  display: flex;
  color: #d9d9d9;
  font-weight: 200;
  padding-right: 2rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 480px) {
  .close-icon {
    width: 1rem;
    right: 40px;
    top: 15px;
    right: 40px;
  }

  .visualizer-close-icon-img {
    width: 1.5rem;
  }

  .description-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1.5rem;
  }

  .description-2 {
    position: relative;
    bottom: 20px;
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .project-visualizer-image{
    height: 25rem;
  }
}